apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: IMAGE_PLACEHOLDER
          env:
            - name: ENV
              value: ENV_PLACEHOLDER
          restartPolicy: Always